body {
  background-color: #ce2b37;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

.container {
  bottom: 50%;
  display: none;
  padding: 10px 0;
  position: absolute;
  right: 50%;
  transform: translate(50%, 50%);
}

.jumbotron {
  background-color: transparent;
  margin-bottom: -30px;
}

.jumbotron>p {
  font-size: 5em;
}

#time {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 7.5em;
}

.btn-group-vertical {
  padding-top: 50px;
}

.btn, .btn:focus, .btn:hover, .btn:active {
  background-color: #009246;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5em;
  margin: 5px 0;
}

footer>a:link, footer>a:visited, footer>a:hover, footer>a:active {
  color: #ffffff;
  text-decoration: none;
}

footer {
  padding-top: 25px;
}

header {
  letter-spacing: 2px;
  padding-bottom: 25px;
}

.modal-content {
  background-color: #ce2b37;
  text-align: center;
}

.modal-footer {
  text-align: center;
}
